{% extends 'catalog/home.html' %}
{%block content %}

<div class="container">
    <div class="row text-center">
        {% for product in products %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.prod_name }}</h4>
                </div>
                <img src="{{ product.image | media_filter }}">
                <div class="card-body">

                    <ul class="list-unstyled mt-3 mb-4 text-start m-3"></ul>

                        <li>- Категория: {{ product.category }}</li>
                        <li>- Стоимость: {{ product.price }}</li>
                        <li>- Описание: {{ product.description| trancatechars: 100 }}</li>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="bnt-btn-primary" href="{% url 'catalog:product_detail' product.pk %}" role="button">Посмотреть></a>

                    <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
</div>
