{% extends 'catalog/base.html' %}
{% block title %}Форма для товара{% endblock %}
{% load my_tags %}
{% block content %}
{% include 'catalog/header.html' %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col-3">
            <div class="card mb-4 box-shadow">
                <img src="{{ product.image|media_filter }}">
                <h2>Добавить товар</h2>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                    <button type="submit" class="btn btn-primary">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Создать
                        {% endif %}
                    </button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}