{% extends 'catalog/base_test.html' %}
{% block title %}Список товаров{% endblock %}
{% block content %}
{% include 'catalog/header.html' %}
<h2>Главная</h2>
{% endblock %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}</title>
<div class="row align-items-start">
    <header class="col-2">
        <div class="card-body">
            <div style="padding:20px; background-color:black;width:200px; border-radius: 1px; color: white">
                <h1 class="card-title"><u>Меню</u></h1>
                <p class="card text-bg-primary mb-3" style="width: 10rem;">Главная</p>
                <p class="card text" style="width: 10rem; background-color:black; color: white">Категории</p>
                <p class="card text" style="width: 10rem; background-color:black; color: white">Заказы</p>
                <p class="card text" style="width: 10rem; background-color:black; color: white">Контакты</p>
            </div>
            <div style="padding:20px; background-color:black;width:200px; border-radius: 1px; color: white">
                <form>
                    <input class="my-input" style="width: 10rem; background-color:white; color: white" placeholder="Профиль"/>
                    <input class="my-input" style="width: 10rem; background-color:white; color: white" placeholder="Выход"/>
                    <button style="width: 10rem; background-color:black; color: white">Пользователь</button>
                </form>
            </div>
        </div>
    </header>
    <header class="col-9 jumbotron jumbotron-fluid text-blank text-center">
        <div class="container">

            <h1 class="display-4">Главная</h1>
            <p class="header">Вы находитесь на сайте, предназначенном для продажи товаров.</p>
        </div>
    </header>
</div>
</head>
</html>

{% endblock %}

